body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    list-style: none;
    background: #eee;
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: gray;
}